body {
    background-color: #ddd;
}

.mdl-card__title-text {
    font-size: 64px;
}

.mdl-card {
    margin: 10px;
    padding: 10px;
    min-height: 10px;
    width: 250px;
}

.mdl-switch {
    margin-top: 24px;
}

.option-list {
    padding-left: 40px;
}